.card-container {
  font-family: "Cascadia", monospace;
  background-color: #fdfdfd;
  box-shadow: 10px 5px 5px rgb(70, 69, 69);
  border-radius: 2%;
  width: 280px;
  margin: 20px auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  margin-bottom: 20px;
}

.img-container {
  margin: auto;
  margin-top: 15px;
}

img {
  height: 150px;
  border-radius: 2%;
  max-width: 238px;
}

.products {
  display: flex;
  justify-content: center;
  align-content: center;
  border-style: outset;
  width: 150px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-container a {
  color: black;
  font-weight: bold;
  margin: 5px 0;
}
