.cardcontainer {
  font-family: "Cascadia", monospace;
}

.cardcontainer_header {
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
  color: #253741;
}

.cardcontainer_cardStyle {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

@media screen and (max-width: 1025px) {
  .cardcontainer_cardStyle {
    display: flex;
    flex-flow: row wrap;
  }
}
