* {
  scroll-behavior: smooth;
}

.cover {
  background-image: url("../../assets/CoverImg.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.cover-text-wrapper {
  font-family: "Inconsolata", monospace;
  color: white;
  width: 100%;
  background-color: transparent;
  margin: auto;
}

.cover-text {
  width: 100%;
  font-size: 30px;
  margin: auto 20px auto auto;
  text-align: center;
  border-radius: 3%;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-style-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.image-style {
  width: 300px;
  height: 250px;
  border-radius: 10%;
}

@media screen and (min-width: 700px) {
  .cover-text {
    font-size: 60px;
    width: max-content;
    padding: 25px;
    margin: auto 40px auto auto;
    text-align: right;
  }
}

.cover-btn-wrapper {
  margin: auto auto 150px auto;
}

.scroll-btn {
  background-color: transparent;
  font-size: 70px;
  color: #93a9b4;
  cursor: pointer;
  height: 60px;
  border: 0;
  transform: rotate(135deg);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.about-me {
  background-color: #dfe9eb;
}

.projects {
  background-color: #d1dadf;
}

.contact {
  background-color: #fdfdfd;
}
