.cardstyle {
  font-family: "Cascadia", monospace;
  margin: 15px auto;
  box-shadow: 10px 5px 5px rgb(70, 69, 69);
  padding: 0 30px;
  width: 300px;
  height: max-content;
  background-color: #100c0c;
  color: white;
  border-radius: 3%;
}

.card-header {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1179px) {
  .cardstyle {
    width: 280px;
    margin: auto;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1499px) {
  .cardstyle {
    width: 300px;
    margin: auto;
  }
}

@media screen and (min-width: 1500px) {
  .cardstyle {
    width: 400px;
    margin: auto;
  }
}
